.contacts {
    display: flex;
    justify-content: space-around;  
    // background: #EEDFCC;
    background: $color-teal-light;
	text-align: center;	
    font-size: 17px;
    font-weight: 700;
	height: 250px;	
    margin: 0 auto;
    margin-top: 3px;
    line-height: 1.3;
    // padding-top: 18px;
    border: 15px solid $color-white;	
	// outline-style: solid;
	// outline-width: 2px;
    // outline-color: $color-blue-header; 
    
    &__sidebar {
        display: flex;
        flex-direction: column;
    }
    
    &__sidebar1 {
        font-style: italic;
        font-size: 15px;        
        justify-content: center;
        
        & img {
            margin: 0 auto;             
            height: 125px;   
            padding-bottom: 10px;        
        }
    }

    &__sidebar2 {        
        justify-content: center;        
        font-size: 16px;
        
        & span {
            font-size: 18px;
            font-weight: 900;
            border-bottom: 1px solid $color-new-teal;
            padding-bottom: 7px;             
        }
    }
}

footer {
    background: $color-white;
    height: 50px;
    font-size: 13px;
    font-style: italic;
    text-align: center;
}