.footer {    
    height: 325px;  
    width: 100%; 
    background: url("../img/oceanWave5.jpg") no-repeat;
    background-position: 0% 0%;  
    background-size: cover;  
    background-position: center;
    background-attachment: fixed;  
    position: relative;
    opacity: 80%;  
    
    @include small-screens {
        height: 214px;
        background: url("../img/oceanWave5cropped.jpg") no-repeat;
    }    
    
    &__nav {
        display: flex;         
        justify-content: center;
        height: 40px;
        width: 100%;        
        position: absolute;
        top: 15px;
        right: 10px;

        & li a {
        color: $color-white; 
        text-shadow: 0px .25px .25px $color-white;        
        text-decoration: none; 
        font-size: 18px;        
        padding: 5px 35px;
        
        @include medium-screens {
            font-size: 14px;
            padding: 4px 20px;
        }
        @include small-screens {
            font-size: 13px;
            padding: 3px 10px;
        }
        }        
     }   
     
    &__copyright {
        position: absolute;
        bottom: 10px;  
        right: 10px;     
        color: white;
        font-size: 12px;

        @include small-screens {
            font-size: 11px; 
            bottom: 5px;                             
        }
    }
}
