header {
    // background: url("../img/headerImagecropblue.jpg") no-repeat top left;
    background: url("../img/WaltonLHmaybe.jpg") no-repeat top left;
	background-size: cover;    
    height: 100vh; 
    // height: 400px;
    border: 1px solid $color-teal-dark;   
    box-shadow: 0 2px 3px 0 $color-teal-dark;	
	position: relative;
}

.heading-primary {
    color: $color-black;
    padding-left: 20px;
    backface-visibility: hidden;

    &--main {
        display: block;
        font-size: 50px;
        // padding-top: 30px;
        padding-top: 80px;
        text-shadow: 1px 1px 4px #d3d3d3;
        animation: moveInRight 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);    
    }
    
    &--sub {
        display: block;
        font-size: 32px;
        font-style: italic;
        animation: moveInRight 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);   
    }
}

.quickContact {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 185px;
    left: 700px;
    font-size: 17px;

}

