.sandSection {
    background: url("../img/seigaiha.png") repeat top left;
    margin: 10px 0;
    font-size: 18px;
    text-align: center;
    padding: 15px 30px;
    border: 1px dotted $color-black;    
}