.navigation {
	width: 60%;
    float: left;
    position:absolute;
    bottom: 185px;
    left: 20px;

    &__home {
        opacity: 0;
        animation: 1s fadeIn 2.2s forwards;
    }

    &__list {
        display: flex;
    }

    &__item {
        margin-right: 10px;              
        list-style: none;                
    }

    &__link {
        &:link,
        &:visited {  
            display: inline-block;
            text-align: center;      
            font-size: 17px;
            font-weight: 600; 
            width: 140px;           
            padding: 10px 15px;
            color: $color-black;
            background: rgba($color-black, .075);
            border: 1px solid $color-black;
            border-radius: 10%;
            text-decoration: none;
            background-image: linear-gradient(115deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 220%;
            transition: all .3s;  
            
            @media only screen and (max-width: 960px) {
                font-size: 14px;  
                width: 100px;
                padding: 5px 10px;          
            }   
        }

        &--current {            
            color: $color-white !important;
            background: $color-blue-outline !important;            
            background-size: cover;      
            background-position: top left;
            border: 1.3px solid $color-blue-outline !important; 
            border-radius: 10%;   
            font-weight: 900;                                
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-teal-nav-font;
            border: 1px solid $color-teal-nav-font;
           
        }
    }
    // &__current-item {
    //     border: 2px solid $color-black !important; 
    //     padding: 9px 14px !important;      
    // }    
}

